<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.sharesdk.demo">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许应用程序联网（必须） -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许访问WiFi网络状态信息（必须） -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许改变网络连接状态（必须） -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问网络状态（必须） -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许改变WIFI状态（非必须） -->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:replace="android:usesCleartextTraffic"
        >

<!--        android:requestLegacyExternalStorage="true"-->

        <activity android:name="cn.sharesdk.WebActivity" android:exported="false"/>
<!--        <activity-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"-->
<!--            android:name="cn.sharesdk.loopshare.LoopShareActivity"-->
<!--            android:launchMode="singleTask">-->
<!--            <intent-filter>-->
<!--                <action-->
<!--                    android:name="android.intent.action.VIEW" />-->
<!--                <category-->
<!--                    android:name="android.intent.category.DEFAULT" />-->
<!--                <category-->
<!--                    android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="ssdk${Mob_Key}"-->
<!--                    android:host="cn.sharesdk.loop" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


        <activity
            android:exported="false"
            android:name=".ShareSdkActivity">
<!--            <intent-filter>-->
<!--                <action android:name="douyin.callback.action" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--            </intent-filter>-->

        </activity>
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--        <activity-->
<!--            android:name=".wxapi.WXEntryActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTask"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>